@import url('https://fonts.googleapis.com/css?family=Roboto');

/*body 초기화*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  
}

body{background-color: linen;}

header{
  text-align:center;
  height: 120px;
  margin: 20px;
}



nav{margin:15px;}

nav {
  width: 200%;
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(70deg, #FFDEAD, #CD853F, #DAA520, #DEB887, #a8eb12);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
  text-align: left;
  font-family:md이솝체,helvetica,sans-serif;
  
}

#main-menu > li > a {
  font-size: 1rem;
  font-family:md개성체,helvetica,sans-serif;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.3em;
  display: block;
  padding: 16px 70px;
  border-right: 2px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.2);
}

#sub-menu1 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 5;
}
#sub-menu2 {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 5;
}
#sub-menu3 {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 5;
}
#sub-menu4 {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 5;
  
}
#sub-menu5 {
  position: absolute;
  background: #182952;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  z-index: 5;
  
}


/* 서브메뉴 일일히 다 설정 */

#sub-menu1 > li {
  text-align: center;
  background:rgba(210, 180, 140);
  width:139px;
  padding: 12px 40px;
  border-bottom: 0.5px solid rgba(0,0,0,0.15);
  z-index: 5;
}

#sub-menu1 > li >  a {
  
  color: rgba(255,255,255,255.255);
  text-decoration: none;
  z-index: 5;
}

#sub-menu2 > li {
  text-align: center;
  background: rgba(210, 180, 140);
  width:116px;
  padding: 12px 40px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 5;
}

#sub-menu2 > li >  a {
  
  color: rgba(255,255,255,255.255);
  text-decoration: none;
  z-index: 5;
}

#sub-menu3 > li {
  text-align: center;
  background:rgba(210, 180, 140);
  width:168px;
  padding: 12px 40px;
  border-bottom: 0.5px solid rgba(0,0,0,0.15);
  z-index: 5;
}

#sub-menu3 > li >  a {
  
  color: rgba(255,255,255,255.255);
  text-decoration: none;
  z-index: 5;
}

#sub-menu4 > li {
  text-align: center;
  background:rgba(210, 180, 140);
  width:150px;
  padding: 12px 40px;
  border-bottom: 0.5px solid rgba(0,0,0,0.15);
  z-index: 5;
}

#sub-menu4 > li >  a {
  
  color: rgba(255,255,255,255.255);
  text-decoration: none;
  z-index: 5;
}

#sub-menu5 > li {
  text-align: center;
  background:rgba(210, 180, 140);
  width:168px;
  padding: 12px 40px;
  border-bottom: 0.5px solid rgba(0,0,0,0.15);
  z-index: 5;
}

#sub-menu5 > li >  a {
  
  color: rgba(255,255,255,255.255);
  text-decoration: none;
  z-index: 5;
}


#main-menu > li:hover #sub-menu1 {
  opacity: 1;
  visibility: visible;
}

#main-menu > li:hover #sub-menu2 {
  opacity: 1;
  visibility: visible;
}
#main-menu > li:hover #sub-menu3 {
  opacity: 1;
  visibility: visible;
}
#main-menu > li:hover #sub-menu4 {
  opacity: 1;
  visibility: visible;
}
#main-menu > li:hover #sub-menu5 {
  opacity: 1;
  visibility: visible;
}

#sub-menu1 > li >  a:hover {
 text-decoration: underline;
}

* {box-sizing:border-box
z-index: 3;
} 

}
/* 마우스를 올리면 배경색을 변경 */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.footer {
  text-align: right;
}
aside#left{/* 음료제목과 밑에내용 */
  margin-top:20px;
  float:left;
  font-family:md이솝체,helvetica,sans-serif;
}
#left h1{
  border-bottom: 2px solid #333;
  font-size: 30px;
  font-family:md이솝체,helvetica,sans-serif;
   float:left:0;
}
#left li h3{
  font-size: 17px;
  font-family:md이솝체,helvetica,sans-serif;
   float:left:0;
}


.Beverage menu {width:1000px;}/* 이미지 나열하는거 */
.Beverage menu {height:1000px;}
.Beverage menu:after {
  clear: both;
  content: '';
  display: block;
}

.a {
  width: 45%;
  height: 500px;
  float: left;
  padding : 20px 20px 20px;
  font-family: "Roboto";

}

.b {
  width: 45%;
  height: 500px;
  float: left;
  padding : 20px 20px 20px;
  font-family: "Roboto";
  
}
.c {
  width: 45%;
  height: 500px;
  float: left;
  padding : 20px 20px 20px;
  font-family: "Roboto";
}
.d {
  width: 45%;
  height: 400px;
  float: left;
  padding : 20px 20px 20px;
  font-family: "Roboto";

}
.e {
  width: 45%;
  height: 400px;
  float: left;
  padding : 20px 20px 20px;
}
.a h1 {
  color : #783712;
  font-family: Cursive;
  font-size: 50px
}
.a h2 {
  color : #512800;
  font-family: Cursive;
  font-size: 20px
}

.b h2 {
  color : #AE6D48;
  font-family: Sans-Serif;
  font-size: 30px 
}
.b h3 {
  color : #512800;
  font-family:Fantasy;
  font-size: 20px
}
.b h4 {
  color : #783712;
  font-family:Fantasy;
  font-size: 20px
}

.c h2 {
  color : #AE6D48;
  font-family:Sans-Serif;
  font-size: 30px
}
.c h3 {
  color : #512800;
  font-family:Fantasy;
  font-size: 20px
}
.c h4 {
  color : #783712;
  font-family:Fantasy;
  font-size: 20px
}

